# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.history
.package-lock.json

# production
/build
/public/types
/modifyResponses
/webpack/scripts/loadHostMinified.js

# short deeplinks
/public/promo/*

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/mock-server/settings.json
/mock-server/settings.js
/mock-server/features/*/feature.config.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*

./tmp
.idea/
.vs/
.vscode/
*.iml
*.versionsBackup
.eslintcache
*~
